/* MOBILE FIRST  */

/* mobile large */
@media screen and (min-width:600px) {
  .navbar {
    width: 10em;
  }
}

/* tablet  */

@media screen and (min-width:700px) {
  .song-card {
    width: 20%;
  }

  .songs-container {
    justify-content: flex-start;
    gap: 1em;
    padding-left: 1.5em;
  }

}

/* desktop  */

@media screen and (min-width:1100px) {}