/* MOBILE FIRST  */

/* mobile large */
@media screen and (min-width:600px) {
  :root {
    --navbar-width: 100px;
  }

  .navbar {
    width: 100px;
  }

  .main-content {
    padding-left: 100px;
    /* navbar width  */
  }

  .navbar-top,
  .navbar-bottom {
    display: none;
  }

  .navbar.navbar-lg {
    display: flex;
  }

  .navbar-section {
    align-items: flex-start;
  }
}

/* tablet  */

@media screen and (min-width:700px) {
  .song-card {
    width: calc((100% / 4) - 20px + 20px / 4);
  }

  .songs-container {
    justify-content: flex-start;
    gap: 1em;
    padding-left: 1.5em;
  }

}

/* desktop  */

@media screen and (min-width:1100px) {
  .song-card {
    width: calc((100% / 6) - 20px + 20px / 6);
  }
}