/* RESET  */

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

/* ROOT  */

:root {
  --footer-height: 100px
}

.wrapper {
  width: 100%;
  height: calc(100vh -100px);
}

main {
  display: flex;
  height: 100%;
}

.navbar {
  background-color: rgb(70, 66, 66);
  flex-shrink: 0;
  width: 50px;
  max-width: 200px;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.navbar.navbar-lg {
  display: none;
}

/* NAVBAR MOBILE  */
.navbar-top {
  padding-top: 10px;
}

.navbar-bottom {
  padding-bottom: var(--footer-height);
}

.navbar-icon-mobile {
  width: 35px;
}

.icon-medium {
  width: 25px;
}

.icon-small {
  width: 15px;
}

.profile {
  background-color: gray;
  border-radius: 50%;
  aspect-ratio: 1 / 1;
}

.navbar-icon-mobile-anchor {
  text-align: center;
}

.navbar-section {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 5px;
}

/* NAVBAR > 600PX  */

.logo-lg {
  height: 50px;
}

.navbar-lg-bottom {
  padding-bottom: var(--footer-height);
}

.nav-section {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.heading-nav {
  font-size: 1rem;
  color: white;
}

ul {
  color: white;
}

/* ***************************************** */

.main-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-left: 50px;
  /* navbar width  */
}

.header {
  height: 80px;
  background-color: rgb(79, 115, 103);
  overflow: auto;
  position: fixed;
}

.categories {
  padding-top: 80px;
  /* header height  */
  height: 40px;
  background-color: rgb(90, 90, 140);
  border: 1px solid black;
  overflow: auto;
}

.explore {
  height: 40px;
  background-color: rgb(109, 109, 145);
  border: 1px solid black;
  overflow: auto;
}

.content-container {
  overflow: auto;
}

.section-title {
  height: 3em;
  border: 1px solid black;
  background-color: rgb(118, 77, 156);
  overflow: auto;
}

.songs-container {
  background-color: rgb(55, 39, 70);
  overflow: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  row-gap: 2em;
  padding-top: 1em;
  padding-bottom: 1em;
}

.song-card {
  width: calc((100% / 2) - 20px + 20px / 2);
  /* calc(100% / 2 - (10px * 1) / 2 )*/
  aspect-ratio: 1 / 1;
  border: 1px solid black;
  background-color: rgb(153, 214, 193);
  overflow: auto;
}

.song-card.artist-profile {
  border-radius: 50%;
}

.bottom-section {
  padding-bottom: 120px;
  /* footer height + 20px */
}


.footer {
  width: 100%;
  height: 100px;
  background-color: rgb(97, 39, 50);
  overflow: auto;
  position: fixed;
  bottom: 0;
  left: 0;
}