/* RESET  */

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

/* ROOT  */

:root {
  --footer-height: 100px;
  --navbar-width: 50px;
}

/* GENERAL */

a {
  text-decoration: none;
  color: rgb(163, 163, 163);
  font-family: "Montserrat", sans-serif;
  font-size: 0.9rem;
}

.wrapper {
  width: 100%;
  height: calc(100vh - 50px);
}

main {
  display: flex;
  height: 100%;
}

body {
  font-family: "Montserrat", sans-serif;
  color: rgb(163, 163, 163);
}

/* ********************+ */

.navbar {
  background-color: rgb(0, 0, 0);
  flex-shrink: 0;
  width: 50px;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.navbar.navbar-lg {
  display: none;
}

/* NAVBAR MOBILE  */
.navbar-top {
  padding-top: 10px;
}

.navbar-bottom {
  padding-bottom: calc(var(--footer-height) + 5px);
}

.navbar-icon-mobile {
  width: 35px;
}

.icon-medium {
  width: 25px;
  opacity: 0.7;
  padding-right: 5px;
}

.icon-small {
  opacity: 0.7;
  width: 15px;
}

.profile {
  background-color: gray;
  border-radius: 50%;
  aspect-ratio: 1 / 1;
}

.navbar-icon-mobile-anchor {
  text-align: center;
}

.navbar-section {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 5px;
}

/* NAVBAR > 600PX  */

.logo-lg {
  height: 50px;
}

.navbar-lg-top {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.navbar-lg-center {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.create-playlist {
  display: flex;
  align-items: center;
}

.navbar-lg-bottom {
  padding-bottom: calc(var(--footer-height) + 5px);
}

.nav-section {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.nav-section:hover {
  color: white;
}

/* FIX  */
.nav-section:active {
  color: white;
  border-left: 1px solid greenyellow;
}
/* **** */
.fa-square-plus {
  font-size: 2rem;
}

.heading-nav {
  font-size: 1rem;
  color: white;
}

ul {
  list-style: none;
}

.nav-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

hr {
  height: 1px;
  background-color: white;
  width: 80%;
}

/* ***************************************** */

.main-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-left: 50px;
  /* navbar width  */
  background-color: rgb(20, 25, 34);
}

.header {
  height: 80px;
  background-color: rgb(8, 11, 18);
  overflow: auto;
  position: fixed;
  width: calc(100% - var(--navbar-width));
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.btn {
  padding: 0.8em 2em;
  border: 2px solid white;
  color: white;
  border-radius: 2em;
  text-decoration: none;
  display: inline-block;
  margin-right: 10px;
  font-weight: 600;
}

.btn:hover {
  padding: 1.5em 2.5em;
}

.categories {
  padding-top: 100px;
  /* header height  */
  padding-bottom: 50px;
}

.categories-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  gap: 20px;
  justify-content: center;
  padding: 1em;
}


.content-container {
  overflow: auto;
}

.section-heading {
  height: 3em;
  padding-left: 1.5em;
}

.section-title {
  color: white;
}


.songs-container {
  overflow: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  row-gap: 2em;
  padding: 2em;
}

.song-card {
  width: calc((100% / 2) - 20px + 20px / 2);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.song-image {
  aspect-ratio: 1 / 1;
}

.song-title {
  color: white;
  text-align: center;
}

.artist-name {
  color: lightgrey;
  text-align: center;
}

.song-card.artist-profile {
  border-radius: 50%;
  aspect-ratio: 1 / 1;
  overflow: hidden;
}

.bottom-section {
  padding-bottom: calc(var(--footer-height) + 20px);
}


.footer {
  width: 100%;
  height: 100px;
  background-color: rgb(40, 40, 40);
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.np-song-icon {
  width: 40px;
  height: 40px;
}

.now-playing {
  display: flex;
  gap: 5px;
  overflow: hidden;
  width: 20%;
}

.np-description {
  display: flex;
  flex-direction: column;
}

.heart-save {
  width: 20px;
}

.player {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  justify-content: space-around;
  min-width: 150px;
  flex-grow: 2;
}

.player-actions {
  font-size: 1.5rem;
}

.fa-circle-play {
  font-size: 2rem;
}

.song-progress-bar {
  display: flex;
  align-items: center;
  gap: 5px;
  width: 100%;
  justify-content: center;
}

.progress-bar {
  width: 60%;
  position: relative;
}

.bar-base {
  height: 6px;
  background-color: rgb(114 107 107);
  border-radius: 2px;
}

.bar-progress {
  height: 6px;
  background-color: rgb(222, 222, 222);
  width: 20%;
  position: absolute;
  top: 0;
  left: 0;
}

.bar-progress:hover {
  background-color: rgb(255, 255, 255);
}

.media-volume {
  display: flex;
  align-items: center;
  width: 20%;
  gap: 5px;
}